body{
	margin: 0px;
}

.top_wrapper{
	background: #242424;
	margin: 0px;
	padding: 0px 220px;
	max-height: 45px;
	display: flex;
	justify-content: space-between;
}

.logo{
	max-width: 220px;
	display: flex;
}

#logo_txt{
	color: #57c5a0;
	text-decoration: none;
	font-size: 27px;
	font-weight: 340;
	display: 
}

/*login/search seaction--------------------------------------------------------*/
.logreg_txt{
	color: #7e7e7e;
}
.logreg_txt:hover{
	text-decoration: none;
	color: #7e7e7e;

}
.logreg_wrapper{
	display: flex;
	flex-direction: row;
	padding: 7px 0px;
}
/*search*/
.search_wrapper{
	display: flex;
	position: relative;
	right: 8%;
}


.search_input{
	border:none;
	background-color: #242424;
	outline: none;
	color: #7e7e7e;
}

#search_png{
	max-width: 14px;
	outline: none;
}

.search_button{
	background: none;
	border: none;
	outline: none !important;
	cursor: pointer;
}

.search_form{
	position: relative;
	background: none;
}

/*navigation-----------------------------------------------*/

body > header > nav{
	padding-left: 230px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	background: white !important; 
}
#navbarNav > ul > li{
	border-right: 1px solid #eeeeee;
	padding: 10px 20px;
}








